/* ---------- SEARCH BAR ---------- */

.search {
    width: 100%;
    text-align:center;
    margin-top: 2em;
}

input {
    width: 50%;
    height: 2em;
}

/* ---------- GALLERY ---------- */

img {
    width: 100%;
    margin-bottom: 1em;
}

li {
    list-style-type: none;
}

ul {
    padding: 5%;
}

/* ---------- MEDIA QUERIES ---------- */

@media only screen and (min-width: 768px) {

    .search {
        margin-top: 3em;
    }

    input {
        width: 30%;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        margin-top: 0;
    }

    li {
        display: flex;
        width: 25%;
        padding: 1em;
    }

    img {
        padding: 0;
    }
}