.search {
    width: 100%;
    text-align:center;
}

nav {
    margin-top: 5%;
}

img {
    width: 100%;
    padding-bottom: 1em;
}

li {
    list-style-type: none;
}

ul {
    padding: 5%;
}

.caption {
    display: none;
}

/* ---------- MEDIA QUERIES ---------- */

@media (min-width: 768px) {

    .photos {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }

    li {
        display: flex;
        width: 25%;
        padding: 1em;
    }

    img {
        padding: 0;
    }
}